
@font-face {
    font-family: DigitalPixels;
    src:url("../fonts/DigitalPixels.OTF");
}
@font-face {
    font-family: minecraft;
    src:url("../fonts/minecraft_0.ttf");
}
body {
    width: 100vw;
    height: 100vh;
    background-image:url("../image/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family:'DigitalPixels';
    color:rgb(255, 255, 255);
}
.players{
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle{
    width: 20%;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.username{
    width: 100%;
    height: 10%;
    border: 10px solid rgba(255, 255, 255, 0.595);
    border-radius: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;

}

.cardField{
    width: 100%;
    height: 60%;
    border: 10px solid rgba(255, 255, 255, 0.595);
    border-radius: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statistic{
    width: 40%;
    height: 20%;
    border: 10px solid rgba(255, 255, 255, 0.595);
    border-top: none;
     border-radius: 50px;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
       display: flex;
    justify-content: center;
    align-items: center;
     font-size: 26px;
}
.card{
    width: 150px;
    height: 200px;
    margin: 15px;
}

.cardBack, .cardFront{
    width: 150px;
    height: 200px;
    position: absolute;
     transition: transform .6s linear;
     backface-visibility: hidden;
     
     
   
}
.card img {
    width: 150px;
    height: 200px;
}
.cardBack{
    transform:rotateY(0deg);
    
}
.cardFront{
    transform: rotateY(180deg);
}
#bet{
    width: 70%;
    height: 10%;
    text-align: center;
    font-family: minecraft;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: 10px solid rgba(255, 255, 255, 0.595);
    border-radius: 50px;
    font-size: 26px;
    margin-bottom: 40px ;
}

#btn{
    width: 80%;
    height: 10%;
    background-color: rgb(210, 29, 29);
    border-radius: 20px;
    display: flex;
    font-family: minecraft;
    color:rgb(255, 255, 255);
    font-size: 26px;
    justify-content: center;
    align-items: center;
     margin-bottom: 40px;
     border: none;
}
#btn:hover{
    transition: transform .2s linear;
    transform: scale(1.1);
}
#btn:disabled{
    color:rgb(156, 156, 156);
}
#balance{
     width: 80%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0);
    border: 10px solid rgba(255, 255, 255, 0.595);
    border-radius: 50px;
   text-align: center;

}
#res{
    width: 80%;
    height: 20%;
    border-radius: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;

}
@media (max-width: 1050px) {
    
    .playngField{
        width: 90%;
    }
    .cardBack, .cardFront{
    width: 100px;
    height: 150px;
  
}
.card img {
    width: 100px;
    height: 150px;
}
#balance{
width: 70%;
    height: 15%;
    font-size: 12px;
}
}
@media (max-width: 800px){
    body{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
        .cardBack, .cardFront{
     width: 50px;
    height: 55px;
  
}
    .card{
        width: 80%;
        height: 35%;
    }
    .card img {
    width: 65px;
    height: 80px;
}
    .players{
        width: 90%;
        height: 40%;
    }
    .middle{
        height: 30%;
        width: 80%;
    }
    .statistic{
        width: 10%;
        height:10%;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .username{
        width: 80%;
        height: 10%;
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #balance{
        width: 80%;
        height: 25%;
        font-size: 10px;
    }
    #bet{
        width: 80%;
        height: 10%;
        margin-bottom: 10px;
    }
    #res{
        width: 80%;
        height: 15%;
        font-size: 16px;
        margin-bottom: 10px;
    }
    #btn{
        margin: 10px;
        font-size: 14px;
    }

}